[submodule "tools/Sn1per"]
	path = tools/Sn1per
	url = https://github.com/1N3/Sn1per.git
[submodule "tools/nanomet"]
	path = tools/nanomet
	url = https://github.com/kost/nanomet.git
[submodule "tools/Sparta"]
	path = tools/Sparta
	url = https://github.com/SECFORCE/sparta.git
[submodule "tools/pentest-machine"]
	path = tools/pentest-machine
	url = https://github.com/DanMcInerney/pentest-machine.git
[submodule "tools/infernal-twin"]
	path = tools/infernal-twin
	url = https://github.com/entropy1337/infernal-twin.git
[submodule "tools/fast-recon"]
	path = tools/fast-recon
	url = https://github.com/DanMcInerney/fast-recon.git
[submodule "tools/shodan-search"]
	path = tools/shodan-search
	url = https://github.com/DanMcInerney/shodan-search.git
[submodule "tools/social-engineer-toolkit"]
	path = tools/social-engineer-toolkit
	url = https://github.com/trustedsec/social-engineer-toolkit.git
[submodule "tools/nikto"]
	path = tools/nikto
	url = https://github.com/sullo/nikto.git
